<p>galeria works!</p>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let ilustracion of ilustraciones">
      <div class="card mb-4 shadow-sm h-100">
        <img src="http://localhost:8080/api/uploads/img/{{ilustracion.imagen}}" class="card-img-top" alt="{{ilustracion.imagen}}" 
        style="width:100%; height:100%; object-fit: cover; cursor:pointer;"
        data-toggle="tooltip" [title]="ilustracion.titulo" data-html="true" data-class="tooltip-custom">

        <div *ngIf="authService.hasRol('ROLE_ADMIN')"  class="card-body">
          <h5 class="card-title">{{ilustracion.titulo}}</h5>
          <div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-primary" (click)="editarIlustracion(ilustracion)">Editar</button>
            <button class="btn btn-danger" (click)="eliminarIlustracion(ilustracion)">Eliminar</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
